@import url(reset.css);
html,
body,
.swrepp {
  width: 100%;
  height: 100%;
  background: none;
}
.swrepp {
  font-size: 62.5%;
}
.swrepp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.swrepp header {
  width: 100%;
  height: 4.5rem;
  background: none;
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.swrepp header .left {
  width: 3.9rem;
  height: auto;
  background: none;
}
.swrepp header .left span {
  width: 0.8rem;
  height: auto;
  background: none;
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.swrepp header .left span img {
  width: 100%;
  height: auto;
  background: none;
}
.swrepp header .center {
  -webkit-box-flex: 1;
}
.swrepp header .center .center_a {
  padding-top: 6px;
  position: relative;
}
.swrepp header .center .center_a input {
  width: 100%;
  height: 3.5rem;
  background: #eeeeee;
  border: none;
  border-radius: 5px;
}
.swrepp header .center .center_a span {
  width: 1.2rem;
  height: auto;
  background: none;
  display: inline-block;
  position: absolute;
  left: 1.2rem;
  top: 1.7rem;
}
.swrepp header .center .center_a span img {
  width: 100%;
  height: auto;
  background: none;
}
.swrepp header .right {
  width: 5.5rem;
  height: auto;
  background: none;
  text-align: center;
  line-height: 4.5rem;
  font-size: 15px;
  color: #ff4341;
}
.swrepp section {
  -webkit-box-flex: 1;
  overflow-y: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.swrepp section::-webkit-scrollbar {
  width: 0px;
}
.swrepp section .main {
  width: 100%;
  height: 7.3rem;
  background: none;
}
.swrepp section .main .main_a {
  margin: 0 10px;
  width: auto;
  height: 7.3rem;
  background: none;
  position: relative;
  border-bottom: 0.1rem solid #cccccc;
}
.swrepp section .main .main_a dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.swrepp section .main .main_a dl dt span {
  width: 3.9rem;
  height: auto;
  background: none;
  display: inline-block;
  margin-right: 15px;
  margin-top: 18px;
}
.swrepp section .main .main_a dl dt span img {
  width: 100%;
  height: auto;
  background: none;
}
.swrepp section .main .main_a dl dd {
  -webkit-box-flex: 1;
  margin-top: 18px;
}
.swrepp section .main .main_a dl dd .p1 {
  font-size: 16px;
}
.swrepp section .main .main_a dl dd .p2 {
  font-size: 12px;
  margin-top: 5px;
  color: #999999;
}
.swrepp section .main .main_a .guan {
  width: 5.8rem;
  height: 2.5rem;
  background: none;
  position: absolute;
  right: 0px;
  top: 23px;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 5px;
  color: #999999;
  border: 1px solid #999999;
}
.swrepp section .mainB {
  width: 100%;
  height: 17.5rem;
  background: none;
  border-bottom: 0.1rem solid #cccccc;
}
.swrepp section .mainB .main_b {
  margin: 0 10px;
  width: auto;
  height: 7.3rem;
  background: none;
  position: relative;
}
.swrepp section .mainB .main_b dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.swrepp section .mainB .main_b dl dt span {
  width: 3.9rem;
  height: auto;
  background: none;
  display: inline-block;
  margin-right: 15px;
  margin-top: 18px;
}
.swrepp section .mainB .main_b dl dt span img {
  width: 100%;
  height: auto;
  background: none;
}
.swrepp section .mainB .main_b dl dd {
  -webkit-box-flex: 1;
  margin-top: 18px;
}
.swrepp section .mainB .main_b dl dd .p1 {
  font-size: 16px;
}
.swrepp section .mainB .main_b dl dd .p2 {
  font-size: 12px;
  margin-top: 5px;
  color: #999999;
}
.swrepp section .mainB .main_b .guan {
  width: 5.8rem;
  height: 2.5rem;
  background: none;
  position: absolute;
  right: 0px;
  top: 23px;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 5px;
  color: #ff7271;
  border: 1px solid #ff7271;
}
.swrepp section .mainB .main_b .qian {
  margin-left: 4.8rem;
}
.swrepp section .mainB .main_b .qian span {
  width: 4.9rem;
  height: 1.3rem;
  background: none;
  display: inline-block;
  text-align: center;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  color: #b3b3b3;
  line-height: 1.3rem;
}
.swrepp section .mainB .bottom {
  width: 100%;
  height: 4.5rem;
  background: none;
  margin-top: 1.5rem;
}
.swrepp section .mainB .bottom p {
  margin-left: 10px;
  margin-right: 10px;
  color: #999999;
}
